//COLORS
$primary-shopping: #ffb2b3;

$red:#e61e26;
$black:#000;
$white:#fff;
$nav-text: #38425e;
$card-text: #2b5555;
$sell-price: #38425e;
$old-price: #7e7e7e;

$tab-border: #a3aec3;
$tab-border-active: #38425e;

$footer-border: #b5b9c3;

$hot-section: #44558f;

//BACKGROUND
$box-bg2: #2e4676;
$box-bg3: #849ac5;

$footer-bg: #38425e;

//FONTS
$font3:  'Yoxall-regular', sans-serif;
$font3-bold:  'Yoxall-bold', sans-serif;

//HOME BANNER SHAPE
$border-height: 250px;
$inner-box: 200px;
$inner-box-desktop: 170px;